/* src/LoginPage.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.login-box {
    padding: 40px;
}

/* .login-box h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: -10px;
} */

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot-password {
    font-size: 0.9rem;
    color: #666;
    text-decoration: none;
}

.login-btn {
    padding: 10px 20px;
    border: none;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login {
    padding: 10px 20px;
    border: none;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
    height: 40px;
}

.social-login {
    text-align: center;
    margin-top: 20px;
}