body {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Sign.css */


.sigCanvas {
  width: 600px;
  height: 250px;
}

.saved-signature-container {
  margin-top: 16px;
}

.saved-signature {
  width: 300px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 5px;
}

